<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.FindRJob"
        tools:targetApi="34">
        <activity
            android:name=".ApplicantsDetail"
            android:exported="false" />
        <activity
            android:name=".JobDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".JobSeekerDashboard"
            android:exported="false" />
        <activity
            android:name=".SeekerAccountDetails"
            android:exported="false"
            android:theme="@style/Theme.FindRJob" />
        <activity
            android:name=".adapters.JobPostAdapter"
            android:exported="false" />
        <activity
            android:name=".ItemJobApplication"
            android:exported="false" />
        <activity
            android:name=".EditJobItem"
            android:exported="false" />
        <activity
            android:name=".ProviderAccountDetails"
            android:exported="false"
            android:theme="@style/Theme.FindRJob" />
        <activity
            android:name=".GetProviderDetails"
            android:exported="false" />
        <activity
            android:name=".GetSeekerDetails"
            android:exported="false" />
        <activity
            android:name=".Welcome"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AboutUs"
            android:exported="false" />
        <activity
            android:name=".EditJobPostActivity"
            android:exported="false" /> <!-- <activity -->
        <!-- android:name=".JobProviderDashboardActivity" -->
        <!-- android:exported="false" /> -->
        <activity
            android:name=".JobApplicationActivity"
            android:exported="false" />
        <activity
            android:name=".JobProvider"
            android:exported="false" />
        <activity
            android:name=".InsertDataJobProvider"
            android:exported="false" />
        <activity
            android:name=".ForgotPassword"
            android:exported="false" />
        <activity
            android:name=".JobPlatformActivity"
            android:exported="false" />
        <activity
            android:name=".UserRegister"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".UserLogin"
            android:exported="false" />
        <activity
            android:name=".JobProviderDashboard"
            android:exported="false" />
    </application>

</manifest>